## collections in python
 - list
 - tuple
 - set
 - dictionary

### list
 - list data can be representd by using [] or list()
 - list allow duplicate values
 - we can manuplate data by using indexing and slicing
 - ordered format values are stored ina a list

In [1]:
List1=[1,2,3]
List1

[1, 2, 3]

In [4]:
List2=["kalyan","badulla","rakesh"]
List2

['kalyan', 'badulla', 'rakesh']

In [8]:
list3=["ramu",1,"sam",2,"nayan",3]
print(list3)

['ramu', 1, 'sam', 2, 'nayan', 3]

In [6]:
list3[4]

'nayan'

In [9]:
list3[5]

3

In [10]:
list3[-1]

3

In [11]:
list3[-4]

'sam'

In [15]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [22]:
list3[1:4]

[1, 'sam', 2]

In [41]:
list3[-4:0:-1]

['sam', 1]

In [44]:
list3.append("kiran")
list3

['ramu', 1, 'sam', 2, 'nayan', 3, 'kiran']

In [15]:
list5=[1,2,3]
list6=["a","b","c"]
list5.extend(list6)
list5
list5.remove("c")
list5

[1, 2, 3, 'a', 'b']

In [14]:
list5.pop()
list5

[1, 2, 3, 'a']

In [17]:
list5.clear()
list5

[]

In [19]:
del list5
list5

NameError: name 'list5' is not defined

In [25]:
list6.insert(3,"arvind")
list6

['a', 'b', 'c', 'arvind', 'arvind']

In [3]:
list3=[1,2,3]
list6=["a","b","c"]
list7=list3 + list6
list7

[1, 2, 3, 'a', 'b', 'c']

In [4]:
for data in list7:
    print(data)

1
2
3
a
b
c

In [6]:
employee=["sam","mohan","bhanu"]
manager=["rakesh","vamsi","kiran"]
for emp in employee:
    manager.append(emp)
print(manager)

['rakesh', 'vamsi', 'kiran', 'sam', 'mohan', 'bhanu']

In [7]:
if "vamsi" in manager:
    print("he is in manager list")
else:
    print("he is not in manager list")

he is in manager list

In [8]:
list3.extend(list6)
list3

[1, 2, 3, 'a', 'b', 'c']

In [9]:
list3.count("a")

1

In [10]:
list3.count("a")

1

In [3]:
marks=[]
marks_size=int(input("enter how many marks are there"))
for data in range(marks_size):
    marks_list=int(input("enter ur marks:"))
    marks.append(marks_list)
print("entered marks are:",marks)
def secondhigh(marks):
    marks.sort()
    return marks[-2]
secondhigh(marks)

enter how many marks are there2
enter ur marks:4
enter ur marks:2
entered marks are: [4, 2]

2

1####