## looping statements
 - to preform a task multiple times
 - in python, for and while only
### for loop
 - for i in range():
 
    #body of the loop

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for x in range(10):
    print(x,end=',')

0,1,2,3,4,5,6,7,8,9,

In [6]:
for y in range(1,10):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9

In [7]:
for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [11]:
for b in range(0,15,2):
    print(b,end=' ')

0 2 4 6 8 10 12 14

In [12]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45

In [27]:
a=int(input('enter a number to print a table:'))
for n in range(1,11):
    print(a,"*",n,"=",a*n)

enter a number to print a table:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [2]:
a=int(input('enter a number to print a table:'))
for i in range(1,a+1):
    for n in range(1,11):
        print(i,"*",n,"=",i*n)

enter a number to print a table:5
 1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
 2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
 3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
 4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
 5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## while loop
 - while(cond):
 
    #body of loop
    
    increament/decreament

In [33]:
i=1
while(i<=10):
    i+=1
    print(i)

2
3
4
5
6
7
8
9
10
11

## jump statements
 - by using this jump stmts we will terminate the loop
 - those are break amd continue
 - break: break stnt will terminate the loop per
 - continue: it will termionate for instant time only

In [37]:
for i in range(100):
    if(i==51):
        break
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [2]:
for i in range(1,101):
    if(i%5==0):
        continue
    print(i,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [8]:
n=int(input('enter start value:'))
if(n%2==0):
    for i in range(n,101,2):
         print(i,end=' ')
else:
        for i in range(n+1,101,2):
                print(i,end=' ')

enter start value:5
6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100